.FeaturedContent {
	margin-bottom: 250px;
}
.FeaturedContent .featuredImg {
	width: 100%;
}
.FeaturedContent .textArea {
	padding-left: 30px;
}
.FeaturedContent h2 {
	font-size: 40px;
	font-weight: 500;
	color: #203047;
	margin-bottom: 20px;
}
.FeaturedContent p {
	font-size: 14px;
	font-weight: 400;
	color: #b2b2b2;
	line-height: 35px;
	margin-bottom: 20px;
}
.FeaturedContent button {
	font-weight: 700;
	font-size: 12px;
	color: #ffffff;
	background: linear-gradient(
		90deg,
		rgba(25, 211, 174, 1) 0%,
		rgba(15, 207, 236, 1) 100%
	);
	padding: 5px 15px;
	border-radius: 2px;
	border: none;
}
