.appointmentsByDate {
	background-color: #fff;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.appointmentsByDate .contentHeader {
	margin-bottom: 50px;
}
.appointmentsByDate .textHeader {
	color: #1cc7c1;
}
.appointmentsByDate .dateHeader {
	color: #8b8888;
}
